.sign-in {
    width: 380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .sign-in-title {
        margin: 10px 0;
    }

    .form-buttons {
        display: flex;
        justify-content: space-between;
    }
}